.container {
  transition: color 1s;

  margin: auto;
  max-width: 1172px;
  > div {
    padding: 0 2rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    > span {
      color: var(--text-color2);
      font-size: 1.5rem;
      margin-top: 0.625rem;
      line-height: 1.75rem;
      font-weight: 700;
      margin-bottom: 4rem;
      cursor: pointer;
      &:hover {
        filter: brightness(0.9);
      }
      > img {
        padding-left: 0.3rem;
        width: 1.25rem;
      }
    }
    > div {
      width: 100%;
      > h1 {
        padding-left: 2rem;
        margin-bottom: 3.188rem;
        max-width: 31.25rem;
        color: var(--white);
        font-weight: 700;
        font-size: 2.625rem;
        line-height: 3rem;
      }
    }
  }
}
